.idea
node_modules
secrets.json
build

testnet/secrets.json
core/secrets.json
hodl/secrets.json
node_modules
secrets.json
secrets_old.json
package-lock.json
.openzeppelin
*.swp
*.swo
*.out

.openzeppelin/.session
.idea
Session.vim
