/* 
------------------------------
    : Custom - Icons css :
------------------------------
*/
@import "../icons/font-awesome/scss/font-awesome";
@import "../icons/material-design/materialdesignicons";
@import "../icons/ionicons/scss/ionicons";
@import "../icons/themify-icons/themify-icons";
@import "../icons/dripicons/dripicons";
@import "../icons/typicons/typicons";
@import "../icons/simple-line-icons/scss/simple-line-icons";
@import "../icons/feather/css/feather";
@import "../icons/line-awesome/css/line-awesome";
@import "../icons/socicon/css/socicon";
@import "../icons/remixIcon/css/remixicon";