/* 
-------------------------------
    : Custom - Gallery css :
-------------------------------
*/
.gallery-filter {
    ul {
        border-bottom: 1px solid $border-color;
        .filter-item {
            line-height: 46px;
            text-transform: capitalize;
            cursor: pointer;
            color: $black !important;
            font-weight: 600;
            border-radius: 0;
            letter-spacing: 0.5px;
            border-bottom: 2px solid transparent;
            padding: .7rem 0;
            margin-right: 1.5rem;
            &:hover {
                color: $primary !important;
                border-bottom: 2px solid $primary;
            }
            &.current {
                color: $primary !important;
                border-bottom: 2px solid $primary;
            }
        }
    }
}
.gallery-box {
    overflow: hidden;
    position: relative;
    padding: 0;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: transform .8s;
    .gallery-preview {
        position: relative;
        overflow: hidden;
        text-align: center;
        img {
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0;
            transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
        }
    }
    .gallery-content {
        opacity: 0;
        color: $white;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        overflow: hidden;
        transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
        p {
            margin-bottom: 0;
            color: #ccc;
            font-size: 15px;
        }
        h5 {
            margin-bottom: 0;
            margin-top: 5px;
            a {
                font-size: 18px;
                color: $white;
            }
        }
    }
    &:hover {
        transform: scale(1.1);
        .gallery-preview {
            img {
                transform: scale(1.1);
            }
            &:after {
                background: rgba(4,66,186,0.8);
            }
        }
        .gallery-content {
            transform: translateY(-100%);
            z-index: 3;
            opacity: 1;
        }        
    }
}