@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$bg-body: #f4f5f7;
$font-primary: 'Work Sans', sans-serif;
$base-font: 15px;
$white: #ffffff;
$black: #282828;
$muted: #4e5d71;
$primary: #0442ba;
$secondary: #acacb4;
$success: #9ccc34;
$danger: #f62525;
$warning: #fcbc04;
$info: #25bef6;
$light: #f4f5f7;
$dark: #151d2e;
$lightgray: #d4d4d4;
$primary-rgba: rgba(4,66,186,0.1);
$secondary-rgba: rgba(172,172,180,0.1);
$success-rgba: rgba(156,204,52,0.1);
$danger-rgba: rgba(246,37,37,0.1);
$warning-rgba: rgba(252,188,4,0.1);
$info-rgba: rgba(37,190,246,0.1);
$light-rgba: rgba(244,245,247,0.1);
$dark-rgba: rgba(21,29,46,0.1);
$bg-primary-gradient: linear-gradient(58deg, #0442ba 0, #969efa 100%);
$bg-secondary-gradient: linear-gradient(58deg, #bcc4dc 0, #e6e8f0 100%);
$bg-success-gradient: linear-gradient(58deg, #08d26f 0, #45e396 100%);
$bg-danger-gradient: linear-gradient(58deg, #fc4f68 0, #ff8181 100%);
$bg-warning-gradient: linear-gradient(58deg, #ffe411 0, #fef07f 100%);
$bg-info-gradient: linear-gradient(58deg, #81cef6 0, #a7daf5 100%);
$bg-light-gradient: linear-gradient(58deg, #e9eff9 0, #f8fbff 100%);
$bg-dark-gradient: linear-gradient(58deg, #2e2e2e 0, #4c4c4c 100%);
$shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
$btn-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$menu-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$width: 100%;
$height: 100%;
$search-bg-color: #4a5263;
$topbar-bg-color: #ffffff;
$card-bg: #ffffff;
$heading-color: #151d2e;
$border-color: rgba(0,0,0,0.05);
$table-color: #151d2e;