/* 
-----------------------------------
    : Custom - Summernote css :
-----------------------------------
*/
.note-btn-group {
  .dropdown-menu {
    > li {
      > a {
        display: block;
        padding: 5px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: $black;
        white-space: nowrap;
        &:hover {
          background-color: lighten($light,2%);
        }
      }
    }
  }
}
.note-image-popover {
  display: none;
  .dropdown-toggle::after {
    margin-left: 0;
  }
}
.note-air-popover {
  display: none;
  .dropdown-toggle::after {
    margin-left: 0;
  }
}
.note-link-popover {
  display: none;
  .dropdown-toggle::after {
    margin-left: 0;
  }
}
.note-icon-caret {
  display: none;
}
.note-editor {
  position: relative;
  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }
  .btn-group-sm > .btn, .btn-sm {
    padding: 8px 12px;
  }
  .note-toolbar {
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    margin: 0;
    .btn-light {
        color: $muted;
        background-color: $light;
        border-color: transparent;
        box-shadow: none;
    }
  }
  .note-statusbar {
    background-color: transparent !important;
    .note-resizebar {
      border-top: none;
      height: 15px;
      padding-top: 3px;
    }
  }
}
.note-editor {
  &.note-frame {
    border: 1px solid $border-color;
    .note-editing-area {
      .note-editable {
        background-color: transparent;
        color: $muted;
      }
    }
  }
}
.note-popover {
  .popover {
    .popover-content {
      padding: 5px 0 10px 5px;
    }
  }
  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }
  .btn-group-sm > .btn, .btn-sm {
    padding: 8px 12px;
  }
}
.note-toolbar {
  padding: 5px 0 10px 5px;
}