/* 
------------------------------------
    : Custom - Form Wizard css :
------------------------------------
*/
.wizard {
    >.steps {
        position: relative;
        display: block;
        width: 100%;
        border: 1px solid $border-color;
        border-radius: 3px;
        .form-wizard-line {
            height: 3px;
            background-color: $light;
            -webkit-transform: translateY(1.7rem);
            transform: translateY(1.7rem);
            margin: 0 15%;
            position: relative;
            z-index: 0;
            top: 26px;
        }
        >ul {
            >li {
                display: flex;
                z-index: 0;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                flex-basis: auto;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
        a {
            display: block;
            width: auto;
            background-color: transparent;
            color: $muted;
            font-size: 16px;
            font-weight: 600;
            padding: 14px 0;
            text-decoration: none;
            border-radius: 30px;
            cursor: default;
            text-align: center;            
        }
        .current {
            a {
                color: $black;
                cursor: default;
                .number {
                    background: $primary;
                    color: $white;
                }
            }
        }
        .done {
            a {
                color: $black;
                .number {
                    background: $light;
                    color: $muted;
                }
            }
        }
        .current-info {
            position: absolute;
            left: -999em;
        }
        .number {
            background-color: $light;
            color: $muted;
            font-size: 20px;
            font-weight: 600;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 15px auto;
        }
    }
    ul {
        list-style: none !important;
        padding: 0;
        margin: 0; 
        display: flex;       
    }
    >.actions {
        >ul {
            >li {
                display: inline-block;
                margin: 0 0 15px 15px;
                &:first-child {
                    a {
                        background-color: $primary-rgba;
                        border: none;
                        color: $primary;
                        box-shadow: none;
                    }
                }
            }
            display: inline-block;
            text-align: right;
        }
        position: relative;
        display: block;
        text-align: right;
        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            border-radius: 3px;
            color: $white;
            background-color: $primary;
            border: none;
            box-shadow: none;
        }
        .disabled {
            a {
                display:none;
            }
        }
    }
    >.content {
        background: $white;
        display: block;
        padding: 30px;
        margin: 30px 0;
        border-radius: 3px;
        min-height: 250px;
        overflow: hidden;
        position: relative;
        border: 1px solid $border-color;
        >.title {
            position: absolute;
            left: -999em;
        }
        >.body {
            ul {
                display: block !important;
                >li {
                    line-height: 30px;
                }
                &.nav-pills {
                    display: flex !important;
                }    
            }
        }
    }
}
.tabcontrol {
    ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
    }
    >.steps {
        .current-info {
            position: absolute;
            left: -999em;
        }
    }
    >.content {
        >.title {
            position: absolute;
            left: -999em;
        }
    }
}
/* -- Vertical Wizard -- */
.wizard.vertical {
    >.steps {
        display: inline;
        float: left;
        width: 30%;
        padding: 10px;
        >ul {
            display: block;
            >li {
                display: block;
                a {
                    display: block;
                    text-align: left;
                    .number {
                        display: inline-block;
                        padding: 8px 16px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    >.content {
        display: inline;
        float: left;
        margin: 0 2.5% 30px 2.5%;
        width: 65%;
    }
    >.actions {
        display: inline;
        float: right;
        margin: 0 2.5%;
        width: 95%;
    }
}
/* -- Responsive Wizard -- */
@media (max-width: 991px) {    
    .wizard.vertical {
        >.content {
            width: 100%;
            margin: 30px 0;
        }
        >.steps {
            width: 100%;
        }
    }
    .wizard {
        >.steps {
            >ul {
                >li {
                    width: 100%;
                }
            }
        }
    }
}