/* 
-------------------------------------
    : Custom - Range Slider css :
-------------------------------------
*/
.irs-line-mid {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs-line-left {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs-line-right {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs-bar {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs-bar-edge {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs-slider {
	background: url(../plugins/ion-rangeSlider/sprite-skin-flat.png) repeat-x;
}
.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px; 
    top: 25px;
    border-radius: 15px;
}
.irs-line-left {
    height: 8px;
    background-position: 0 -30px;
    border-radius: 15px;
}
.irs-line-mid {
    height: 8px;
    background-position: 0 0;
}
.irs-line-right {
    height: 8px;
    background-position: 100% -30px;   
    border-radius: 15px; 
}
.irs-bar {
    height: 8px; 
    top: 25px;
    background-position: 0 -60px;
}
.irs-bar-edge {
    top: 25px;
    height: 8px; 
    width: 10px;
    background-position: 0 -90px;
    border-radius: 15px 0 0 15px;
}
.irs-shadow {
    height: 3px; top: 34px;
    background: $black;
    opacity: 0.25;
}
.lt-ie9 {
	.irs-shadow {
		filter: alpha(opacity=25);
	}
}
.irs-slider {
    width: 20px;
    height: 20px;
    top: 18px;
    background-color: $white;
    border: 2px solid $primary;
    border-radius: 50%;
    background: $white;
    background-position: 0 -120px;
    z-index: 0;
    &.type_last {
	    z-index: 0;
	}
}
.irs-slider.state_hover {
	background-position: 0 -150px;
}
.irs-slider {
	&:hover {
		background-position: 0 -150px;
	}
}
.irs-min {
	color: $muted;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	top: 0;
	padding: 1px 3px;
	background: $light;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-max {
	color: $muted;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	top: 0;
	padding: 1px 3px;
	background: $light;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-from {
	color: $white;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: $primary;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-to {
	color: $white;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: $primary;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-single {
	color: $white;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: $primary;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-from {
	&:after {
		position: absolute;
		display: block;
		content: "";
		bottom: -6px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -3px;
		overflow: hidden;
		border: 3px solid transparent;
		border-top-color: $primary;
	}
}
.irs-to {
	&:after {
		position: absolute;
		display: block;
		content: "";
		bottom: -6px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -3px;
		overflow: hidden;
		border: 3px solid transparent;
		border-top-color: $primary;
	}
}
.irs-single {
	&:after {
		position: absolute;
		display: block;
		content: "";
		bottom: -6px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -3px;
		overflow: hidden;
		border: 3px solid transparent;
		border-top-color: $primary;
	}
}
.irs-grid-pol {
    background: $light;
}
.irs-grid-text {
    color: $muted;
}
.irs-disabled {
}