/* 
------------------------------------
    : Custom - Progressbar css :
------------------------------------
*/
.progress {
	background-color: $light;
}
.progress-bar {
    background-color: $primary;
}