/* 
-----------------------------
    : Custom - Maps css :
-----------------------------
*/
.gmaps {
  height: 300px;
  background: $light;
  border-radius: 3px;
}
.gmaps-panaroma {
  height: 300px;
  background: $light;
  border-radius: 3px;
}
.gmaps-overlay {
  display: block;
  text-align: center;
  color: $white;
  font-size: 16px;
  line-height: 40px;
  background: $primary;
  border-radius: 4px;
  padding: 10px 20px;
}
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid $primary;
}
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid $primary;
}
.vector-world-map {
  height: 400px;
}

/* Responsive css */
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
  .vector-world-map {
      height: 250px;
      margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .vector-world-map {
      height: 200px;
  }
}
@media (max-width: 575px) {

}